<header>
  <div class="flexbox">
    <div class="center-on-mobiles">
      <div style="float: left;">
        <h1>
          <a href="/" class="logo">
            <img src="{{ site.doclocation }}/img/titus-head.png" width="75" height="65" alt="Titus Logo">
          </a>
        </h1>
      </div>
      <div style="float: right; text-align: center;">
        <h3>&nbsp;T&nbsp;&nbsp;I&nbsp;&nbsp;T&nbsp;&nbsp;U&nbsp;&nbsp;S&nbsp;&nbsp;</h3>
        <span style="background-color: black; font-size:small; padding: 2px 5px 2px 5px;">G&nbsp;L&nbsp;O&nbsp;B&nbsp;A&nbsp;L&nbsp;&nbsp;&nbsp;T&nbsp;E&nbsp;C&nbsp;H</span>
      </div>
    </div>
    <nav class="main-nav hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
    <div class="search hide-on-mobiles">
      {% include search/input.html %}
    </div>
    <div class="meta hide-on-mobiles">
      <ul>
        <li>
          <a href="{{ site.repository }}">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="mobile-nav show-on-mobiles">
    {% include mobile-nav-items.html %}
  </nav>
</header>
